label {
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;

}

form img{
    margin-bottom: 20px;
    width: 70vmin;
    height: 70vmin;
    object-fit: contain;
}

.agreement {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
}

#preview {
    position: relative;
    margin-right: 30px;
    border: solid 1px black;
    object-fit: contain;
}