.collection-form .flex {
    max-width: 100%;
}

label {
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

.agreement {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
}

@media (max-width: 768px) {
    .collection-form .flex {
       flex-direction: column;
    }
}