nav {
    border-bottom: solid 1px black;
    width: 100%;
}

.nav-container {
    margin: 0 auto;
    padding: 10px 40px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 12px;
}

a {
    all: unset;
    cursor: pointer;
}

span {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 3px;
}

.logo {
    font-size: 20px;
}

@media (max-width: 480px) {
    .nav-container {
        padding: 8px 10px;
        max-width: 480px;
    }
}