.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collection-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.collection-info > div {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 20px;
}

.collection-player {
    width: 100%;
    padding: 0 0 0 20px;
}
iframe {
    padding-top: 10px;
    margin-bottom: 50px;
    border: 0;
    width: 100%;
    height: 241px;
}

.collection-cover {
    width: fit-content;
    position: relative;
}

.collection-cover img {
    width: 70vmin;
    height: 70vmin;
}

.menu {
    padding: 1px 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E8E5E3 ;
    border-radius:10px;
}

.controls {
    display: flex;
    flex-direction: column;

    background-color: #E8E5E3 ;
}

.edit-btn {
    margin: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn {
    all: unset;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.hamburger {
    all: unset;
    width: fit-content;
  }
  
.hamburger img {
all: unset;
height: 8px;
cursor: pointer;
}

.confirm-delete {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
backdrop-filter: blur(10px);
z-index: 9999;
display: flex;
justify-content: center;
align-items: center;
}
.confirm-delete p {
margin-bottom: 30px;
font-size: 18px;
}

.confirm-delete div {
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #E8E5E3 ;
border-radius: 8px;
}

.back {
    width: 50%;   
}

.confirm-delete-btn {
    width: 50%;
    margin-top: 20px;
    background-color: transparent;
    color: red;
    border: solid 1px red;
}

.confirm-delete-btn:hover {
    background-color: red;
    color: black;
}
