.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
}
.column text {
    text-align: left;
} 

#left {
    position: relative;
    width: fit-content;
    margin-right: 30px;
}

.fit-content {
    width: fit-content;
    background-color: aqua;
}

Link {
    background-color: aqua;
}

span {
    all: unset;
    display: flex;
    align-items: baseline;
    justify-content: left;
}

.cover-art {
    margin-bottom: 100px;
    display: block;
    width: 70vmin;
    height: 70vmin;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

iframe {
    padding-top: 10px;
    margin-bottom: 50px;
    border: 0;
    width: 100%;
    height: 241px;
}

.menu {
    padding: 1px 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E8E5E3 ;
    border-radius:10px;
}

.controls {
    display: flex;
    flex-direction: column;

    background-color: #E8E5E3 ;
}

.edit-btn {
    margin: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn {
    all: unset;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.hamburger {
    all: unset;
    width: fit-content;
  }
  
.hamburger img {
all: unset;
height: 8px;
cursor: pointer;
}

.confirm-delete {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
backdrop-filter: blur(10px);
z-index: 9999;
display: flex;
justify-content: center;
align-items: center;
}
.confirm-delete p {
margin-bottom: 30px;
font-size: 18px;
}

.confirm-delete div {
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #E8E5E3 ;
border-radius: 8px;
}

.back {
    width: 50%;   
}

.confirm-delete-btn {
    width: 50%;
    margin-top: 20px;
    background-color: transparent;
    color: red;
    border: solid 1px red;
}

.confirm-delete-btn:hover {
    background-color: red;
    color: black;
}

.other-collections {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 250px));
    column-gap: 5%;

}
