.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collection-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.collection-info > div {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 20px;
}

.collection-player {
    width: 50%;
    padding: 0 0 0 20px;
}
iframe {
    padding-top: 10px;
    border: 0;
    width: 100%;
    height: 241px;
}

.collection-cover {
    width: fit-content;
    position: relative;
}

.collection-cover img {
    max-width: 65vmin;
    max-height: 65vmin;
}

.controls {
    position: absolute;
    top: 5px;
    right: 5px;
}