#full-height {
    min-height: 100vh;
    text-align: left;
}

#full-height

ol {
    margin: 60px 0;
}

li {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.4em;
    text-align: left;
}

