*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #E8E5E3;
}

section {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 30px 40px;
}

h1 {
  all: unset;
  margin: 5px 0 12px;
  font-size: 45px;
  text-align: left;
}

h2 {
  all: unset;
  margin-bottom: 12px;
  font-size: 35px;
  text-align: left;
}

h3 {
  all: unset;
  font-size: 25px;
  text-align: left;
}

h4 {
  all: unset;
  font-size: 18px;
  text-align: left;
}

p {
  all: unset;
  font-size: 18px;
  text-align: left;
}

button {
  all: unset;
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  cursor: pointer;
}
button:disabled {
  opacity: 75%;
  cursor: not-allowed;
}