*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #E8E5E3;
}

section {
  width: 100%;
}

container {
  width: 100%;
  max-width: 1400px;
  padding: 60px 40px;
}
