*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #E8E5E3;
}

section {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 30px 40px;
}

h1 {
  all: unset;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  font-size: 65px;
  font-weight: 500;
  text-align: left;
}

h2 {
  all: unset;
  margin-right: 30px;
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

h3 {
  all: unset;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: left;
}

h4 {
  all: unset;
  font-size: 18px;
  text-align: left;
  color: grey;
}

h5 {
  all: unset;
  font-size: 12px;
  font-weight: 700;
  color: grey;
}

p {
  all: unset;
  font-size: 18px;
  text-align: left;
}
.error-message {
  color: #FD3721;
  font-weight: 800;
  word-spacing: 3px;
}

button {
  all: unset;
  margin-bottom: 15px;
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  cursor: pointer;
}

button:disabled {
  opacity: 75%;
  cursor: not-allowed;
}